body {
  margin:0px;
  background-color:rgba(255, 255, 255, 0.2);
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1331px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-60px;
  width:750px;
  height:1331px;
}
#u1479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:658px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:56px;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-60px;
  width:661px;
  height:56px;
}
#u1482 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:657px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:56px;
}
#u1483 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:-60px;
  width:350px;
  height:56px;
}
#u1484 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:450px;
}
#u1485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:341px;
  width:750px;
  height:450px;
}
#u1486 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:217px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
