body {
  margin:0px;
  background-color:rgba(153, 204, 255, 0.2);
  background-image:none;
  position:static;
  left:auto;
  width:1370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1662px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11956 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:408px;
  width:750px;
  height:1662px;
}
#u11957 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:823px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:56px;
}
#u11959 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:408px;
  width:661px;
  height:56px;
}
#u11960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:657px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:56px;
}
#u11961 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:408px;
  width:350px;
  height:56px;
}
#u11962 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11963 {
  position:absolute;
  left:620px;
  top:626px;
}
#u11963_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:750px;
  height:424px;
  background-image:none;
}
#u11963_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:424px;
}
#u11965 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:748px;
  height:424px;
}
#u11966 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:204px;
  width:744px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:76px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:348px;
  width:750px;
  height:76px;
  opacity:0.5;
}
#u11968 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#FFFFFF;
}
#u11969 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:371px;
  width:607px;
  height:32px;
  font-size:26px;
  color:#FFFFFF;
}
#u11970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  word-wrap:break-word;
}
#u11971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#FFFFFF;
}
#u11971 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:372px;
  width:54px;
  height:32px;
  font-size:26px;
  color:#FFFFFF;
}
#u11972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u11973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:401px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 2px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u11973 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:1050px;
  width:750px;
  height:401px;
}
#u11974 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:192px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 3px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 5px 3px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 5px 3px rgba(153, 153, 153, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:38px;
  color:#000000;
}
#u11975 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:464px;
  width:750px;
  height:82px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:38px;
  color:#000000;
}
#u11976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:746px;
  word-wrap:break-word;
}
#u11977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u11977 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:1187px;
  width:136px;
  height:30px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u11978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u11979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u11979 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:1387px;
  width:155px;
  height:30px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u11980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u11981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u11981 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:1187px;
  width:148px;
  height:35px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u11982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u11983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u11983 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:1187px;
  width:149px;
  height:35px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u11984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u11985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u11985 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:1187px;
  width:136px;
  height:30px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u11986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u11987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u11987 {
  border-width:0px;
  position:absolute;
  left:1184px;
  top:1387px;
  width:164px;
  height:30px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u11988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u11989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u11989 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:1387px;
  width:155px;
  height:30px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u11990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u11991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u11991 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:1387px;
  width:155px;
  height:30px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u11992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u11993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u11993 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:1070px;
  width:105px;
  height:105px;
}
#u11994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u11995 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:1070px;
  width:105px;
  height:105px;
}
#u11996 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u11997 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:1070px;
  width:105px;
  height:105px;
}
#u11998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u11999 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:1070px;
  width:105px;
  height:105px;
}
#u12000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u12001 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:1269px;
  width:105px;
  height:105px;
}
#u12002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u12003 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:1269px;
  width:105px;
  height:105px;
}
#u12004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u12005 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:1269px;
  width:105px;
  height:105px;
}
#u12006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u12007 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:1269px;
  width:105px;
  height:105px;
}
#u12008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12009 {
  position:absolute;
  left:620px;
  top:1463px;
}
#u12009_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:750px;
  height:195px;
  background-image:none;
}
#u12009_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 2px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u12012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:195px;
}
#u12013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:90px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u12014 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:15px;
  width:392px;
  height:123px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u12015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  word-wrap:break-word;
}
#u12016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u12016 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:149px;
  width:164px;
  height:23px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u12017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u12018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:177px;
}
#u12018 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:9px;
  width:322px;
  height:177px;
}
#u12019 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12020 {
  position:absolute;
  left:620px;
  top:1669px;
}
#u12020_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:750px;
  height:195px;
  background-image:none;
}
#u12020_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 2px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u12023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:195px;
}
#u12024 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:90px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u12025 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:20px;
  width:383px;
  height:82px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u12026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  word-wrap:break-word;
}
#u12027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u12027 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:155px;
  width:164px;
  height:23px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u12028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u12029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:179px;
}
#u12029 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:7px;
  width:322px;
  height:179px;
}
#u12030 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u12031 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:480px;
  width:46px;
  height:46px;
}
#u12032 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 2px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u12034 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:1875px;
  width:750px;
  height:195px;
}
#u12035 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:90px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u12036 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:1895px;
  width:715px;
  height:41px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u12037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  word-wrap:break-word;
}
#u12038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u12038 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:2030px;
  width:164px;
  height:23px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u12039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u12040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u12041 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:565px;
  width:136px;
  height:45px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u12042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u12043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 30, 35, 1);
  border-radius:71px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12044 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:556px;
  width:703px;
  height:59px;
}
#u12045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:699px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:59px;
  background:inherit;
  background-color:rgba(229, 30, 35, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 30, 35, 1);
  border-right:0px;
  border-radius:25px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12046 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:556px;
  width:181px;
  height:59px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:177px;
  word-wrap:break-word;
}
#u12048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u12048 {
  border-width:0px;
  position:absolute;
  left:1194px;
  top:571px;
  width:118px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u12049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u12050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u12050 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:571px;
  width:155px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u12051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u12052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u12052 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:571px;
  width:155px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u12053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
