body {
  margin:0px;
  background-color:rgba(153, 204, 255, 0.2);
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:5345px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-60px;
  width:750px;
  height:5345px;
}
#u6689 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2664px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:56px;
}
#u6691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-60px;
  width:661px;
  height:56px;
}
#u6692 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:657px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:56px;
}
#u6693 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:-60px;
  width:350px;
  height:56px;
}
#u6694 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u6695 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:17px;
  width:38px;
  height:38px;
}
#u6696 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#000000;
}
#u6697 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:80px;
  width:715px;
  height:46px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#000000;
}
#u6698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  word-wrap:break-word;
}
#u6699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u6699 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:160px;
  width:141px;
  height:23px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u6700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u6701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  height:2px;
}
#u6701 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:197px;
  width:691px;
  height:1px;
}
#u6702 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:687px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u6703 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:160px;
  width:211px;
  height:23px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u6704 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u6705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:2330px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#000000;
  line-height:45px;
}
#u6705 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:223px;
  width:699px;
  height:2330px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#000000;
  line-height:45px;
}
#u6706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  word-wrap:break-word;
}
#u6707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -5px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px -5px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px -5px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u6708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5203px;
  width:748px;
  height:82px;
}
#u6709 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:744px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u6710 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:5216px;
  width:62px;
  height:62px;
}
#u6711 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#000000;
}
#u6712 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:5217px;
  width:50px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#000000;
}
#u6713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
