body {
  margin:0px;
  background-color:rgba(153, 204, 255, 0.2);
  background-image:none;
  position:static;
  left:auto;
  width:1819px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:186px;
  top:340px;
  width:640px;
  height:1136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:186px;
  top:340px;
  width:640px;
  height:536px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:536px;
}
#u3 {
  position:absolute;
  left:2px;
  top:260px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:390px;
  top:403px;
  width:234px;
  height:170px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:170px;
}
#u5 {
  position:absolute;
  left:2px;
  top:77px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:240px;
  top:417px;
  width:73px;
  height:28px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:315px;
  top:571px;
  width:401px;
  height:118px;
  font-size:50px;
  color:#FFFFFF;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:118px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  white-space:nowrap;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
}
#u10 {
  position:absolute;
  left:236px;
  top:721px;
  width:120px;
  height:120px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u11 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:236px;
  top:733px;
  width:118px;
  height:94px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:94px;
}
#u13 {
  position:absolute;
  left:2px;
  top:39px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:366px;
  top:721px;
  width:65px;
  height:37px;
  color:#000000;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:441px;
  top:721px;
  width:205px;
  height:37px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:37px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:468px;
  top:723px;
  width:131px;
  height:32px;
  font-size:26px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:32px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:366px;
  top:776px;
  width:413px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#282828;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:30px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:212px;
  top:416px;
  width:21px;
  height:31px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:31px;
}
#u23 {
  position:absolute;
  left:2px;
  top:8px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:369px;
  top:814px;
  width:14px;
  height:23px;
  font-size:24px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:23px;
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:390px;
  top:812px;
  width:144px;
  height:27px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:27px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:602px;
  top:725px;
  width:28px;
  height:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:186px;
  top:891px;
  width:640px;
  height:340px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:340px;
}
#u31 {
  position:absolute;
  left:2px;
  top:162px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:186px;
  top:886px;
  width:640px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u33 {
  position:absolute;
  left:186px;
  top:1145px;
  width:640px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u34 {
  position:absolute;
  left:186px;
  top:1226px;
  width:640px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u35 {
  position:absolute;
  left:394px;
  top:891px;
  width:10px;
  height:260px;
}
#u35_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u35_end {
  position:absolute;
  left:-5px;
  top:243px;
  width:20px;
  height:18px;
}
#u35_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:260px;
}
#u36 {
  position:absolute;
  left:607px;
  top:891px;
  width:10px;
  height:340px;
}
#u36_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u36_end {
  position:absolute;
  left:-5px;
  top:323px;
  width:20px;
  height:18px;
}
#u36_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:340px;
}
#u37 {
  position:absolute;
  left:399px;
  top:1011px;
  width:427px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:410px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:427px;
  height:1px;
}
#u38 {
  position:absolute;
  left:186px;
  top:1381px;
  width:640px;
  height:95px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:95px;
}
#u39 {
  position:absolute;
  left:2px;
  top:40px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:186px;
  top:1376px;
  width:640px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u41 {
  position:absolute;
  left:230px;
  top:959px;
  width:125px;
  height:34px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#000000;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:34px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:482px;
  top:947px;
  width:117px;
  height:32px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:696px;
  top:947px;
  width:117px;
  height:32px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:482px;
  top:1063px;
  width:117px;
  height:32px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:696px;
  top:1061px;
  width:117px;
  height:32px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:276px;
  top:1161px;
  width:109px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#000000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:696px;
  top:1171px;
  width:117px;
  height:32px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:229px;
  top:1339px;
  width:93px;
  height:25px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:254px;
  top:1438px;
  width:43px;
  height:23px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#E51E23;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:23px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:409px;
  top:1438px;
  width:43px;
  height:23px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:23px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:564px;
  top:1438px;
  width:43px;
  height:23px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:23px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:719px;
  top:1438px;
  width:43px;
  height:23px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:23px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:236px;
  top:1249px;
  width:80px;
  height:80px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u66 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:380px;
  top:1339px;
  width:93px;
  height:25px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:387px;
  top:1249px;
  width:80px;
  height:80px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u70 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:532px;
  top:1339px;
  width:93px;
  height:25px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:539px;
  top:1249px;
  width:80px;
  height:80px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u74 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:683px;
  top:1340px;
  width:93px;
  height:25px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:690px;
  top:1250px;
  width:80px;
  height:80px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u78 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:277px;
  top:1196px;
  width:321px;
  height:23px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:23px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:763px;
  top:413px;
  width:38px;
  height:38px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u82 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:560px;
  top:1396px;
  width:47px;
  height:39px;
  opacity:0.400000005960464;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:39px;
}
#u84 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:722px;
  top:1396px;
  width:37px;
  height:37px;
  opacity:0.600000023841858;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u86 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:401px;
  top:1385px;
  width:58px;
  height:58px;
  opacity:0.400000005960464;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u88 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:256px;
  top:1396px;
  width:39px;
  height:39px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u90 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:696px;
  top:1262px;
  width:67px;
  height:56px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:56px;
}
#u92 {
  position:absolute;
  left:2px;
  top:20px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:254px;
  top:1260px;
  width:45px;
  height:58px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:58px;
}
#u94 {
  position:absolute;
  left:2px;
  top:21px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:404px;
  top:1261px;
  width:53px;
  height:56px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:56px;
}
#u96 {
  position:absolute;
  left:2px;
  top:20px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:553px;
  top:1265px;
  width:52px;
  height:49px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:49px;
}
#u98 {
  position:absolute;
  left:2px;
  top:16px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:213px;
  top:1027px;
  width:161px;
  height:80px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:80px;
}
#u100 {
  position:absolute;
  left:2px;
  top:32px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:416px;
  top:1051px;
  width:56px;
  height:56px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u102 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:409px;
  top:939px;
  width:69px;
  height:52px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:52px;
}
#u104 {
  position:absolute;
  left:2px;
  top:18px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:640px;
  top:929px;
  width:42px;
  height:67px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:67px;
}
#u106 {
  position:absolute;
  left:2px;
  top:26px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:627px;
  top:1161px;
  width:63px;
  height:58px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:58px;
}
#u108 {
  position:absolute;
  left:2px;
  top:21px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:630px;
  top:1047px;
  width:62px;
  height:62px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u110 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:727px;
  top:851px;
  width:67px;
  height:67px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:77px;
}
#u112 {
  position:absolute;
  left:2px;
  top:26px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:753px;
  top:860px;
  width:17px;
  height:25px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
}
#u114 {
  position:absolute;
  left:2px;
  top:4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:743px;
  top:890px;
  width:37px;
  height:21px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:186px;
  top:340px;
  width:564px;
  height:50px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:50px;
}
#u118 {
  position:absolute;
  left:2px;
  top:17px;
  width:560px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:527px;
  top:340px;
  width:299px;
  height:50px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:50px;
}
#u120 {
  position:absolute;
  left:2px;
  top:17px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:1179px;
  top:335px;
  width:640px;
  height:1136px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u122 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1179px;
  top:335px;
  width:640px;
  height:532px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:532px;
}
#u124 {
  position:absolute;
  left:2px;
  top:258px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:1179px;
  top:335px;
  width:564px;
  height:50px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:50px;
}
#u126 {
  position:absolute;
  left:2px;
  top:17px;
  width:560px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:1520px;
  top:335px;
  width:299px;
  height:50px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:50px;
}
#u128 {
  position:absolute;
  left:2px;
  top:17px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1382px;
  top:399px;
  width:234px;
  height:170px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:170px;
}
#u130 {
  position:absolute;
  left:2px;
  top:77px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:1302px;
  top:556px;
  width:405px;
  height:177px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:177px;
}
#u132 {
  position:absolute;
  left:2px;
  top:80px;
  width:401px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:1237px;
  top:727px;
  width:120px;
  height:120px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u134 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:1237px;
  top:739px;
  width:118px;
  height:94px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:94px;
}
#u136 {
  position:absolute;
  left:2px;
  top:39px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:1365px;
  top:727px;
  width:65px;
  height:37px;
  color:#000000;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:1440px;
  top:727px;
  width:205px;
  height:37px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:37px;
}
#u140 {
  position:absolute;
  left:2px;
  top:10px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:1467px;
  top:729px;
  width:131px;
  height:32px;
  font-size:26px;
  color:#FFFFFF;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:32px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:1365px;
  top:782px;
  width:413px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#282828;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:30px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:1368px;
  top:820px;
  width:14px;
  height:23px;
  font-size:24px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:23px;
}
#u146 {
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:1389px;
  top:818px;
  width:144px;
  height:27px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:27px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u149 {
  position:absolute;
  left:1601px;
  top:731px;
  width:28px;
  height:28px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u150 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:1179px;
  top:886px;
  width:640px;
  height:340px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:340px;
}
#u152 {
  position:absolute;
  left:2px;
  top:162px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:1179px;
  top:881px;
  width:640px;
  height:10px;
}
#u153_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u153_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u153_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u154 {
  position:absolute;
  left:1179px;
  top:1140px;
  width:640px;
  height:10px;
}
#u154_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u154_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u154_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u155 {
  position:absolute;
  left:1179px;
  top:1221px;
  width:640px;
  height:10px;
}
#u155_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u155_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u155_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u156 {
  position:absolute;
  left:1387px;
  top:886px;
  width:10px;
  height:260px;
}
#u156_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u156_end {
  position:absolute;
  left:-5px;
  top:243px;
  width:20px;
  height:18px;
}
#u156_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:260px;
}
#u157 {
  position:absolute;
  left:1600px;
  top:886px;
  width:10px;
  height:340px;
}
#u157_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u157_end {
  position:absolute;
  left:-5px;
  top:323px;
  width:20px;
  height:18px;
}
#u157_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:340px;
}
#u158 {
  position:absolute;
  left:1392px;
  top:1006px;
  width:427px;
  height:10px;
}
#u158_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u158_end {
  position:absolute;
  left:410px;
  top:-5px;
  width:18px;
  height:20px;
}
#u158_line {
  position:absolute;
  left:0px;
  top:5px;
  width:427px;
  height:1px;
}
#u159 {
  position:absolute;
  left:1179px;
  top:1376px;
  width:640px;
  height:95px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:95px;
}
#u160 {
  position:absolute;
  left:2px;
  top:40px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:1179px;
  top:1371px;
  width:640px;
  height:10px;
}
#u161_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u161_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u161_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u162 {
  position:absolute;
  left:1223px;
  top:954px;
  width:125px;
  height:34px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#000000;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:34px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u164 {
  position:absolute;
  left:1475px;
  top:942px;
  width:117px;
  height:32px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u166 {
  position:absolute;
  left:1689px;
  top:942px;
  width:117px;
  height:32px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u168 {
  position:absolute;
  left:1475px;
  top:1058px;
  width:117px;
  height:32px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u170 {
  position:absolute;
  left:1689px;
  top:1056px;
  width:117px;
  height:32px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u172 {
  position:absolute;
  left:1269px;
  top:1156px;
  width:109px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#000000;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u174 {
  position:absolute;
  left:1689px;
  top:1166px;
  width:117px;
  height:32px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u176 {
  position:absolute;
  left:1222px;
  top:1334px;
  width:93px;
  height:25px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u178 {
  position:absolute;
  left:1247px;
  top:1433px;
  width:43px;
  height:23px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#E51E23;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:23px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u180 {
  position:absolute;
  left:1402px;
  top:1433px;
  width:43px;
  height:23px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:23px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u182 {
  position:absolute;
  left:1557px;
  top:1433px;
  width:43px;
  height:23px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:23px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u184 {
  position:absolute;
  left:1712px;
  top:1433px;
  width:43px;
  height:23px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:23px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u186 {
  position:absolute;
  left:1229px;
  top:1244px;
  width:80px;
  height:80px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u187 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:1373px;
  top:1334px;
  width:93px;
  height:25px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u190 {
  position:absolute;
  left:1380px;
  top:1244px;
  width:80px;
  height:80px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u191 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:1525px;
  top:1334px;
  width:93px;
  height:25px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u194 {
  position:absolute;
  left:1532px;
  top:1244px;
  width:80px;
  height:80px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u195 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:1676px;
  top:1335px;
  width:93px;
  height:25px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u198 {
  position:absolute;
  left:1683px;
  top:1245px;
  width:80px;
  height:80px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u199 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:1270px;
  top:1191px;
  width:321px;
  height:23px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:23px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u202 {
  position:absolute;
  left:1553px;
  top:1391px;
  width:47px;
  height:39px;
  opacity:0.400000005960464;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:39px;
}
#u203 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:1715px;
  top:1391px;
  width:37px;
  height:37px;
  opacity:0.600000023841858;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u205 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:1394px;
  top:1380px;
  width:58px;
  height:58px;
  opacity:0.400000005960464;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u207 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:1249px;
  top:1391px;
  width:39px;
  height:39px;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u209 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:1689px;
  top:1257px;
  width:67px;
  height:56px;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:56px;
}
#u211 {
  position:absolute;
  left:2px;
  top:20px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:1247px;
  top:1255px;
  width:45px;
  height:58px;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:58px;
}
#u213 {
  position:absolute;
  left:2px;
  top:21px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:1393px;
  top:1256px;
  width:53px;
  height:56px;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:56px;
}
#u215 {
  position:absolute;
  left:2px;
  top:20px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:1546px;
  top:1260px;
  width:52px;
  height:49px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:49px;
}
#u217 {
  position:absolute;
  left:2px;
  top:16px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:1206px;
  top:1022px;
  width:161px;
  height:80px;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:80px;
}
#u219 {
  position:absolute;
  left:2px;
  top:32px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:1409px;
  top:1046px;
  width:56px;
  height:56px;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u221 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:1402px;
  top:934px;
  width:69px;
  height:52px;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:52px;
}
#u223 {
  position:absolute;
  left:2px;
  top:18px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:1633px;
  top:924px;
  width:42px;
  height:67px;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:67px;
}
#u225 {
  position:absolute;
  left:2px;
  top:26px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:1203px;
  top:1157px;
  width:57px;
  height:57px;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u227 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:1620px;
  top:1156px;
  width:63px;
  height:58px;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:58px;
}
#u229 {
  position:absolute;
  left:2px;
  top:21px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:1623px;
  top:1042px;
  width:62px;
  height:62px;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
}
#u231 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:1726px;
  top:846px;
  width:67px;
  height:67px;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:77px;
}
#u233 {
  position:absolute;
  left:2px;
  top:26px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:1752px;
  top:855px;
  width:17px;
  height:25px;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
}
#u235 {
  position:absolute;
  left:2px;
  top:4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:1742px;
  top:885px;
  width:37px;
  height:21px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u238 {
  position:absolute;
  left:1748px;
  top:404px;
  width:38px;
  height:38px;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u239 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:1250px;
  top:414px;
  width:73px;
  height:28px;
  color:#169BD5;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u242 {
  position:absolute;
  left:1203px;
  top:405px;
  width:41px;
  height:41px;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u243 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:205px;
  top:1160px;
  width:60px;
  height:60px;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u245 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
