body {
  margin:0px;
  background-color:rgba(247, 247, 247, 1);
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1331px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-60px;
  width:750px;
  height:1331px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:658px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:398px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:586px;
  width:750px;
  height:398px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:191px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:2px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:586px;
  width:750px;
  height:1px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:2px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:889px;
  width:750px;
  height:1px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:2px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:984px;
  width:750px;
  height:1px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:306px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:586px;
  width:1px;
  height:305px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:144px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:399px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:586px;
  width:1px;
  height:398px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:191px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:2px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:732px;
  width:500px;
  height:1px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#000000;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:665px;
  width:125px;
  height:34px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#000000;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:675px;
  width:146px;
  height:32px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:651px;
  width:117px;
  height:32px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:787px;
  width:117px;
  height:32px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:785px;
  width:117px;
  height:32px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#000000;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:902px;
  width:109px;
  height:30px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#000000;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:917px;
  width:117px;
  height:32px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1117px;
  width:93px;
  height:25px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
  background:inherit;
  background-color:rgba(204, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1011px;
  width:94px;
  height:94px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:68px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:1024px;
  width:53px;
  height:68px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:1117px;
  width:93px;
  height:25px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
  background:inherit;
  background-color:rgba(204, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:1011px;
  width:94px;
  height:94px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:66px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:1025px;
  width:62px;
  height:66px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:1117px;
  width:93px;
  height:25px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
  background:inherit;
  background-color:rgba(204, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:1011px;
  width:94px;
  height:94px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:57px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:1030px;
  width:61px;
  height:57px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:1118px;
  width:93px;
  height:25px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#000000;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
  background:inherit;
  background-color:rgba(204, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:1012px;
  width:94px;
  height:94px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:66px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:1026px;
  width:79px;
  height:66px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:943px;
  width:321px;
  height:23px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:94px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:745px;
  width:189px;
  height:94px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:773px;
  width:66px;
  height:66px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:61px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:610px;
  width:81px;
  height:61px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:79px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:630px;
  width:49px;
  height:79px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:769px;
  width:73px;
  height:73px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:901px;
  width:70px;
  height:70px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:897px;
  width:71px;
  height:71px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:0px;
  top:-60px;
}
#u212_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:750px;
  height:678px;
  background-image:none;
}
#u212_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:628px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:628px;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:306px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:199px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:74px;
  width:274px;
  height:199px;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#FFFFFF;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:88px;
  width:91px;
  height:36px;
  font-size:30px;
  color:#FFFFFF;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:36px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:89px;
  width:25px;
  height:36px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:50px;
  color:#FFFFFF;
  text-align:center;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:271px;
  width:401px;
  height:118px;
  font-size:50px;
  color:#FFFFFF;
  text-align:center;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  white-space:nowrap;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 2px rgba(0, 0, 0, 0.647058823529412);
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:141px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:446px;
  width:141px;
  height:141px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:449px;
  width:65px;
  height:37px;
  color:#000000;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:43px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:446px;
  width:165px;
  height:43px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#FFFFFF;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:452px;
  width:131px;
  height:32px;
  font-size:26px;
  color:#FFFFFF;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#282828;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:511px;
  width:413px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#282828;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  white-space:nowrap;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:555px;
  width:16px;
  height:27px;
  font-size:24px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:553px;
  width:144px;
  height:27px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:86px;
  width:45px;
  height:45px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:59px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:59px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:657px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:59px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:350px;
  height:59px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:118px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:457px;
  width:118px;
  height:118px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:51px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:89px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:599px;
  width:79px;
  height:79px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:29px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:609px;
  width:20px;
  height:29px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:644px;
  width:45px;
  height:25px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u256 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u256_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:750px;
  height:111px;
  background-image:none;
}
#u256_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:111px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:2px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:67px;
  width:51px;
  height:27px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:67px;
  width:51px;
  height:27px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:67px;
  width:51px;
  height:27px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:67px;
  width:51px;
  height:27px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:46px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:18px;
  width:55px;
  height:46px;
  opacity:0.400000005960464;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:5px;
  width:68px;
  height:68px;
  opacity:0.400000005960464;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:20px;
  width:43px;
  height:43px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:18px;
  width:43px;
  height:43px;
  opacity:0.4;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:12px;
  width:101px;
  height:88px;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:12px;
  width:101px;
  height:88px;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:11px;
  width:110px;
  height:88px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:223px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:636px;
  width:230px;
  height:223px;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:104px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:601px;
  width:200px;
  height:121px;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:630px;
  width:194px;
  height:92px;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:117px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:755px;
  width:206px;
  height:117px;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:901px;
  width:194px;
  height:70px;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:768px;
  width:218px;
  height:91px;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:901px;
  width:431px;
  height:73px;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:1003px;
  width:152px;
  height:147px;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:1004px;
  width:152px;
  height:147px;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1003px;
  width:152px;
  height:147px;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:1003px;
  width:152px;
  height:147px;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
