body {
  margin:0px;
  background-color:rgba(153, 204, 255, 0.2);
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1331px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-60px;
  width:750px;
  height:1331px;
}
#u5027 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:658px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:56px;
}
#u5029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-60px;
  width:661px;
  height:56px;
}
#u5030 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:657px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:56px;
}
#u5031 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:-60px;
  width:350px;
  height:56px;
}
#u5032 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#1E1E1E;
}
#u5033 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:67px;
  width:715px;
  height:138px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#1E1E1E;
}
#u5034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  word-wrap:break-word;
}
#u5035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u5035 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:229px;
  width:141px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u5036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u5037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  height:2px;
}
#u5037 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:266px;
  width:691px;
  height:1px;
}
#u5038 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:687px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u5039 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:230px;
  width:211px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u5040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u5041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:38px;
  line-height:50px;
}
#u5041 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:375px;
  width:715px;
  height:141px;
  font-size:38px;
  line-height:50px;
}
#u5042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  word-wrap:break-word;
}
#u5043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u5043 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:291px;
  width:97px;
  height:35px;
  font-size:20px;
  color:#FFFFFF;
}
#u5044 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u5045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:70px;
  background:-webkit-linear-gradient(270deg, rgba(255, 51, 0, 1) 0%, rgba(255, 51, 0, 1) 0%, rgba(102, 0, 0, 1) 57%, rgba(102, 0, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 51, 0, 1) 0%, rgba(255, 51, 0, 1) 0%, rgba(102, 0, 0, 1) 57%, rgba(102, 0, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 51, 0, 1) 0%, rgba(255, 51, 0, 1) 0%, rgba(102, 0, 0, 1) 57%, rgba(102, 0, 0, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u5045 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:1023px;
  width:434px;
  height:70px;
  font-size:28px;
  color:#FFFFFF;
}
#u5046 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:430px;
  word-wrap:break-word;
}
#u5047 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  line-height:40px;
}
#u5048 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:568px;
  width:393px;
  height:45px;
  font-size:40px;
  line-height:40px;
}
#u5049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:393px;
  word-wrap:break-word;
}
#u5050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  line-height:40px;
}
#u5050 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:664px;
  width:393px;
  height:45px;
  font-size:40px;
  line-height:40px;
}
#u5051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:393px;
  word-wrap:break-word;
}
#u5052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u5053 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:566px;
  width:47px;
  height:47px;
  font-size:26px;
  color:#000000;
}
#u5054 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  word-wrap:break-word;
}
#u5055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u5055 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:662px;
  width:47px;
  height:47px;
  font-size:26px;
  color:#000000;
}
#u5056 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  word-wrap:break-word;
}
#u5057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:70px;
  background:-webkit-linear-gradient(270deg, rgba(255, 51, 0, 1) 0%, rgba(255, 51, 0, 1) 0%, rgba(102, 0, 0, 1) 57%, rgba(102, 0, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 51, 0, 1) 0%, rgba(255, 51, 0, 1) 0%, rgba(102, 0, 0, 1) 57%, rgba(102, 0, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 51, 0, 1) 0%, rgba(255, 51, 0, 1) 0%, rgba(102, 0, 0, 1) 57%, rgba(102, 0, 0, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u5057 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:1117px;
  width:434px;
  height:70px;
  font-size:28px;
  color:#FFFFFF;
}
#u5058 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:430px;
  word-wrap:break-word;
}
#u5059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u5059 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:19px;
  width:38px;
  height:38px;
}
#u5060 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u5063 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:277px;
  width:79px;
  height:79px;
}
#u5064 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  line-height:50px;
}
#u5065 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:287px;
  width:107px;
  height:53px;
  font-size:30px;
  line-height:50px;
}
#u5066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u5067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  line-height:50px;
}
#u5067 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:287px;
  width:166px;
  height:53px;
  font-size:30px;
  line-height:50px;
}
#u5068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:166px;
  word-wrap:break-word;
}
