body {
  margin:0px;
  background-color:rgba(153, 204, 255, 0.2);
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:100px;
  width:640px;
  height:1136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:100px;
  width:640px;
  height:1136px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u3 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:100px;
  width:564px;
  height:48px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:48px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:560px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:441px;
  top:100px;
  width:299px;
  height:48px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:48px;
}
#u7 {
  position:absolute;
  left:2px;
  top:16px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:198px;
  top:526px;
  width:466px;
  height:260px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:260px;
}
#u9 {
  position:absolute;
  left:2px;
  top:122px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:198px;
  top:876px;
  width:466px;
  height:71px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:71px;
}
#u11 {
  position:absolute;
  left:2px;
  top:28px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:198px;
  top:979px;
  width:466px;
  height:71px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:71px;
}
#u13 {
  position:absolute;
  left:2px;
  top:28px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:367px;
  top:998px;
  width:127px;
  height:37px;
  font-size:32px;
  color:#990000;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:37px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:367px;
  top:896px;
  width:127px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:37px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:336px;
  top:1066px;
  width:190px;
  height:24px;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:222px;
  top:652px;
  width:421px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:404px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:421px;
  height:1px;
}
#u21 {
  position:absolute;
  left:222px;
  top:694px;
  width:38px;
  height:46px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:46px;
}
#u22 {
  position:absolute;
  left:2px;
  top:15px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:222px;
  top:573px;
  width:38px;
  height:38px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u24 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:279px;
  top:707px;
  width:193px;
  height:36px;
  font-size:30px;
  color:#CCCCCC;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:36px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:276px;
  top:580px;
  width:193px;
  height:36px;
  font-size:30px;
  color:#CCCCCC;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:36px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
