body {
  margin:0px;
  background-color:rgba(153, 204, 255, 0.2);
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1331px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-60px;
  width:750px;
  height:1331px;
}
#u11440 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:658px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:56px;
}
#u11442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-60px;
  width:661px;
  height:56px;
}
#u11443 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:657px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:56px;
}
#u11444 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:-60px;
  width:350px;
  height:56px;
}
#u11445 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:340px;
}
#u11446 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:190px;
  width:715px;
  height:340px;
}
#u11447 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:162px;
  width:711px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:78px;
  width:750px;
  height:94px;
}
#u11450 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 30, 35, 1);
  border-radius:71px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11452 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:97px;
  width:703px;
  height:59px;
}
#u11453 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:699px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:59px;
  background:inherit;
  background-color:rgba(229, 30, 35, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 30, 35, 1);
  border-left:0px;
  border-radius:25px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u11454 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:97px;
  width:359px;
  height:59px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u11455 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:355px;
  word-wrap:break-word;
}
#u11456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#000000;
}
#u11456 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:109px;
  width:123px;
  height:32px;
  font-size:24px;
  color:#000000;
}
#u11457 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:119px;
  word-wrap:break-word;
}
#u11458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11458 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:103px;
  width:287px;
  height:43px;
}
#u11459 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11460 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:105px;
  width:287px;
  height:43px;
}
#u11461 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11462 {
  position:absolute;
  left:18px;
  top:190px;
}
#u11462_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:714px;
  height:339px;
  background-image:none;
}
#u11462_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:339px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:339px;
  opacity:0.5;
}
#u11464 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:162px;
  width:710px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'行楷体 Bold', '行楷体';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
  text-align:center;
}
#u11465 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:86px;
  width:436px;
  height:128px;
  font-family:'行楷体 Bold', '行楷体';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
  text-align:center;
}
#u11466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:436px;
  word-wrap:break-word;
}
#u11467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'行楷体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u11467 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:225px;
  width:436px;
  height:34px;
  font-family:'行楷体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u11468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:436px;
  word-wrap:break-word;
}
#u11469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 3px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 5px 3px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 5px 3px rgba(153, 153, 153, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u11470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:750px;
  height:82px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u11471 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:746px;
  word-wrap:break-word;
}
#u11472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u11472 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:46px;
  height:46px;
}
#u11473 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11474 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u11474_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:750px;
  height:1271px;
  background-image:none;
}
#u11474_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1271px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1271px;
  opacity:0.5;
}
#u11476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:628px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:865px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11479 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:229px;
  width:655px;
  height:865px;
}
#u11480 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:424px;
  width:651px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:129px;
  background:inherit;
  background-color:rgba(229, 30, 35, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 3px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 5px 3px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 5px 3px rgba(153, 153, 153, 0.349019607843137);
}
#u11481 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:229px;
  width:655px;
  height:129px;
}
#u11482 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:651px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
}
#u11483 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:263px;
  width:533px;
  height:51px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
}
#u11484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  word-wrap:break-word;
}
#u11485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:41px;
  background:-webkit-linear-gradient(270deg, rgba(255, 51, 0, 1) 0%, rgba(255, 51, 0, 1) 0%, rgba(102, 0, 0, 1) 57%, rgba(102, 0, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 51, 0, 1) 0%, rgba(255, 51, 0, 1) 0%, rgba(102, 0, 0, 1) 57%, rgba(102, 0, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 51, 0, 1) 0%, rgba(255, 51, 0, 1) 0%, rgba(102, 0, 0, 1) 57%, rgba(102, 0, 0, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u11486 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:1021px;
  width:119px;
  height:41px;
  font-size:24px;
  color:#FFFFFF;
}
#u11487 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:115px;
  word-wrap:break-word;
}
#u11488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:41px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(153, 153, 153, 1) 57%, rgba(153, 153, 153, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(153, 153, 153, 1) 57%, rgba(153, 153, 153, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(153, 153, 153, 1) 57%, rgba(153, 153, 153, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u11488 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:1021px;
  width:114px;
  height:41px;
  font-size:24px;
  color:#FFFFFF;
}
#u11489 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u11490 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#000000;
}
#u11491 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:390px;
  width:121px;
  height:36px;
  font-size:30px;
  color:#000000;
}
#u11492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u11493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:70px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11494 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:436px;
  width:530px;
  height:70px;
}
#u11495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#000000;
}
#u11496 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:453px;
  width:61px;
  height:36px;
  font-size:30px;
  color:#000000;
}
#u11497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u11498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#000000;
}
#u11499 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:534px;
  width:121px;
  height:36px;
  font-size:30px;
  color:#000000;
}
#u11500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u11501 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:585px;
  width:530px;
  height:70px;
}
#u11501_input {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11503 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:729px;
  width:530px;
  height:70px;
}
#u11503_input {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
}
#u11503_input:disabled {
  color:grayText;
}
#u11504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#000000;
}
#u11504 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:683px;
  width:121px;
  height:36px;
  font-size:30px;
  color:#000000;
}
#u11505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u11506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#000000;
}
#u11507 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:827px;
  width:181px;
  height:36px;
  font-size:30px;
  color:#000000;
}
#u11508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u11509 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:878px;
  width:530px;
  height:70px;
}
#u11509_input {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FF0000;
}
#u11510 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:975px;
  width:313px;
  height:28px;
  font-size:24px;
  color:#FF0000;
}
#u11511 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
